*{
        box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/*common */
a {
    text-decoration: none;
    color:black;
}
li {
    list-style-type: none;
}
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn{
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border:1px solid;
    border-radius: 8px;
    background-color: #0F1B4C;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
}
/*header*/
.header {
 background-color: #E6F0FF;
 height: 100vh;
 position: relative;
}
.navbar {
    display: flex;
    padding-top: 38px;
    align-items: center;
}
.logo {
    margin-right: 64px;
}
.navbar ul{
    display: flex;
    gap :28px;
}
.navbar .action-log {
    display: flex;
    margin-left:auto;
    align-items: center;
}
.navbar .action-log .sign-up {
    padding: 13px 16px;
    margin-left: 18px;
}
.header .hero {
    display:flex;
}
.header .hero .container {
    margin-top: 208px;
}
.hero p {
    font:Poppins;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.7;
}
.hero h1 {
    width: 559px;
    height: 152px;
    font:Poppins;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.2;
    margin-bottom: 30px;
}
.hero p:last-of-type{
    margin-bottom: 40px;
    width: 550px;
}
.hero .hero-img{
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}
/*CLIENS*/
.client .row-2 {
    display: flex;
    margin-top:122px;
    align-items: center;
}

.client .row-2 .star {
    margin-left: auto;
}
.client .row-2-desc .desc{
    margin-left: auto;
}
.client .row-2-desc {
    margin-top:23px;
    display: flex;
}
.client .images-brand{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    align-items: center;
}
.client .images-brand a {
    height: 90px;
    padding: 0 42px;
    border-radius: 12px;
    display: flex;
    align-items: center;
}
.client .images-brand a:hover{

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
/*GUIDES*/
.guides h2 {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    margin-top: 200px;
}
.guides h2::before {
    position: absolute;
    content:"";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
    top:-10px;
    left:50%;
    transform: translateX(-50%);
}
.guides p {
    margin-top: 20px;
    width: 459px;
    height: 60px;
    color: #5A6473;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
